{{ template "header" .}}

<script>
var xmlhttp = new XMLHttpRequest();
var url = {{.Title}}+".json";

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        myFunction(myArr);
    }
};
xmlhttp.open("GET", url, true);
xmlhttp.send();

function myFunction(arr) {

	title_var = arr.Title
	contents_var = arr.Contents
	mcontents_var = arr.Mcontents
	
	document.getElementById("Title").innerHTML = title_var;
	
    document.getElementById("Contents").innerHTML = contents_var;
    document.getElementById("Mcontents").innerHTML = mcontents_var;
}

function collapseHandler() {
	
	
	$('#collapse').collapse('toggle');
	
}
</script>

<div  id='Mcontents'> </div>

<div class="container">
<!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
  Show 
</button> -->
<button class="btn btn-primary" type="button" onclick="collapseHandler()">Show </button>

<div class="collapse" id="collapse">
<div class="well">
<h1 id="Title">{{.Title}} </h1>

<div id="Contents">{{.Contents}}</div>
</div>
</div>


</div>
</body>

</html>